.list {
  font-size: clamp(1.25rem, 2vw, 2rem);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list > svg {
  height: clamp(1.25rem, 2vw, 3rem);
  width: clamp(1.25rem, 2vw, 3rem);

  margin-top: 16px;
}

.listItem {
  width: fit-content;

  display: flex;
  gap: 16px;
  align-items: center;
}

.listItem > svg {
  height: clamp(1.25rem, 2vw, 3rem);
  width: clamp(1.25rem, 2vw, 3rem);
}

.listItem.completed {
  text-decoration: line-through;
}

.listItem button {
  background: none;
  border: none;
  padding: 0;
  
  z-index: 10;

  display: grid;
  place-items: center;

  cursor: pointer;
}

.listItem button svg {
  width: clamp(1.25rem, 2vw, 1.75rem);
  height: clamp(1.25rem, 2vw, 1.75rem);
}

.listItem input {
  border: none;
  background: none;
  outline: none;

  font-family: 'Chivo', sans-serif;
  font-size: clamp(1.25rem, 2vw, 2rem);
}
