.container {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.appHeader {
  height: 12vh;

  padding: max(16px, 2vh) max(32px, 2vw);

  background-color: #FAF8F6;

  display: flex;
  align-items: flex-end;
}

.appHeader > h1 {
  margin: 0;
  font-size: clamp(3rem, 5vw , 5rem);
  font-weight: 700;
}

.appContent {
  width: 100vw;
  height: 100%;

  padding: max(32px, 2vw);

  background-color: #C6E2E9;

  overflow: scroll;
}